{% extends 'base.html' %}
{% load static %}
{% block content %}



    <section id="landing">
      <div class="placeholder-text">
        <h1>Sindre Berge</h1>
        <p>Self Though IT Enthusiast</p>
      </div>
      <div class="scroll-for-more" onclick="window.scrollBy(0, window.innerHeight)">
        Scroll for more
        <i class="scroll-arrow down"></i>
      </div>
</section>


<div class="container">
<section id="main-content">
    <div class="card" id="dark">
    <div class="info-area">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Nullam ultricies, nunc ut dignissim commodo, lorem erat fringilla metus, in dignissim nibh massa quis libero.
          Aliquam blandit egestas ante, id placerat purus rutrum in.
           Aliquam pharetra mi ut leo tempus ultrices. Ut laoreet mauris ut facilisis ullamcorper.
           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Nullam ultricies, nunc ut dignissim commodo, lorem erat fringilla metus, in dignissim nibh massa quis libero.
            Aliquam blandit egestas ante, id placerat purus rutrum in.
             Aliquam pharetra mi ut leo tempus ultrices. Ut laoreet mauris ut facilisis ullamcorper.
             Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Nullam ultricies, nunc ut dignissim commodo, lorem erat fringilla metus, in dignissim nibh massa quis libero.
          Aliquam blandit egestas ante, id placerat purus rutrum in.
           Aliquam pharetra mi ut leo tempus ultrices. Ut laoreet mauris ut facilisis ullamcorper.
        </p>
    </div>
</div>

<section id="latest-project">
    <div class="container">
        <div class="card" id="light">
            <h2>Latest Project</h2>
            <article class="project">
                {% if latest_project.image %}
                    <img src="{{ latest_project.image.url }}" class="img-size" alt="{{ latest_project.title }}">
                {% else %}
                    <!-- Default image if no image is available -->
                    <img src="{% static 'images/default-thumbnail.jpg' %}" alt="Default Image">
                {% endif %}
                <div class="project-details">
                    <h3>{{ latest_project.title }}</h3>
                    <p>{{ latest_project.description }}</p>
                </div>
            </article>
        </div>
    </div>
</section>

<div class="card" id="dark">
    <div class="short-info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam ultricies, nunc ut dignissim commodo, lorem erat fringilla metus, in dignissim nibh massa quis libero.
         Aliquam blandit egestas ante, id placerat purus rutrum in.
          Aliquam pharetra mi ut leo tempus ultrices. Ut laoreet mauris ut facilisis ullamcorper.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nullam ultricies, nunc ut dignissim commodo, lorem erat fringilla metus, in dignissim nibh massa quis libero.
           Aliquam blandit egestas ante, id placerat purus rutrum in.
            Aliquam pharetra mi ut leo tempus ultrices. Ut laoreet mauris ut facilisis ullamcorper.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam ultricies, nunc ut dignissim commodo, lorem erat fringilla metus, in dignissim nibh massa quis libero.
             Aliquam blandit egestas ante, id placerat purus rutrum in.
              Aliquam pharetra mi ut leo tempus ultrices. Ut laoreet mauris ut facilisis ullamcorper.</p>
    </div>
</div>

<section id="latest-blog-post">
    <div class="card" id="light">
  <h2>Latest Blog Post</h2>
  <article class="blog-post">
    <img src="{% static 'images/latest-blog-thumbnail.jpg' %}" alt="Latest Blog Post Thumbnail">
    <div class="post-details">
      <h3>Blog Post Title</h3>
      <p>Introduction to the latest blog post.</p>
    </div>
    </div>
  </article>
</section>
    
</section>
</div>
{% endblock %}