{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="hero is-medium is-primary is-bold" id="landing">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Sindre Berge
      </h1>
      <h2 class="subtitle">
        Self-Taught IT Enthusiast
      </h2>
    </div>
  </div>
  <div class="hero-foot has-text-centered">
  </div>
</section>

<div class="container mt-6">
  <section class="section" id="main-content">
    <div class="box" id="dark">
      {% if info1 %}
        <p>{{ info1.info }}</p>
      {% else %}
        <p>No information available</p>
      {% endif %}
    </div>
  </section>
</div>


  <section class="section" id="latest-project">
    <div class="container">
        <div class="columns is-centered">
            <div class="column-is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Latest Project
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {% if latest_project.image %}
                                <img src="{{ latest_project.image.url }}" alt="{{ latest_project.title }}" class="image">
                            {% else %}
                                <img src="{% static 'images/default-thumbnail.jpg' %}" alt="Default Image" class="image">
                            {% endif %}
                            <h2><strong>{{ latest_project.title }}</strong></h2>
                            <p>{{ latest_project.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container mt-6">
  <section class="section" id="main-content">
    <div class="box" id="dark">
      {% if info2 %}
        <p>{{ info2.info }}</p>
      {% else %}
        <p>No information available</p>
      {% endif %}
    </div>
  </section>
</div>

<section class="section" id="latest-blog-post">
  <div class="container">
      <div class="columns is-centered">
          <div class="column is-half">
              <div class="card">
                  <header class="card-header">
                      <p class="card-header-title">
                          Latest Blog Post
                      </p>
                  </header>
                  <div class="card-content">
                      <div class="content">
                          <article class="media">
                              <div class="media-content">
                                  <div class="content">
                                    
                                      <strong>{{ latest_blog.title }}</strong>
                                      <p>{{ latest_blog.content|safe|slice:":200" }}</p>
                                      <br>
                                      <p>Continue reading in the <a href="{% url 'blog' %}">Blog</p>
                                  </div>
                              </div>
                          </article>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

</div>
{% endblock %}
